In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = '/Users/abderrahim_boussyf/Desktop/Compitition/playground-series-s4e12/train.csv'
df = pd.read_csv(file_path)
df.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,...,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,...,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,...,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,...,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,...,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0

In [3]:
print(df.describe())

                 id           Age  Annual Income  Number of Dependents  \
count  1.200000e+06  1.181295e+06   1.155051e+06          1.090328e+06
mean   5.999995e+05  4.114556e+01   3.274522e+04          2.009934e+00
std    3.464103e+05  1.353995e+01   3.217951e+04          1.417338e+00
min    0.000000e+00  1.800000e+01   1.000000e+00          0.000000e+00
25%    2.999998e+05  3.000000e+01   8.001000e+03          1.000000e+00
50%    5.999995e+05  4.100000e+01   2.391100e+04          2.000000e+00
75%    8.999992e+05  5.300000e+01   4.463400e+04          3.000000e+00
max    1.199999e+06  6.400000e+01   1.499970e+05          4.000000e+00

       Health Score  Previous Claims   Vehicle Age  Credit Score  \
count  1.125924e+06    835971.000000  1.199994e+06  1.062118e+06
mean   2.561391e+01         1.002689  9.569889e+00  5.929244e+02
std    1.220346e+01         0.982840  5.776189e+00  1.499819e+02
min    2.012237e+00         0.000000  0.000000e+00  3.000000e+02
25%    1.591896e+01         0.000000  5.000000e+00  4.680000e+02
50%    2.457865e+01         1.000000  1.000000e+01  5.950000e+02
75%    3.452721e+01         2.000000  1.500000e+01  7.210000e+02
max    5.897591e+01         9.000000  1.900000e+01  8.490000e+02

       Insurance Duration  Premium Amount
count        1.199999e+06    1.200000e+06
mean         5.018219e+00    1.102545e+03
std          2.594331e+00    8.649989e+02
min          1.000000e+00    2.000000e+01
25%          3.000000e+00    5.140000e+02
50%          5.000000e+00    8.720000e+02
75%          7.000000e+00    1.509000e+03
max          9.000000e+00    4.999000e+03

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1200000 non-null  int64
 1   Age                   1181295 non-null  float64
 2   Gender                1200000 non-null  object
 3   Annual Income         1155051 non-null  float64
 4   Marital Status        1181471 non-null  object
 5   Number of Dependents  1090328 non-null  float64
 6   Education Level       1200000 non-null  object
 7   Occupation            841925 non-null   object
 8   Health Score          1125924 non-null  float64
 9   Location              1200000 non-null  object
 10  Policy Type           1200000 non-null  object
 11  Previous Claims       835971 non-null   float64
 12  Vehicle Age           1199994 non-null  float64
 13  Credit Score          1062118 non-null  float64
 14  Insurance Duration    1199999 non-null  float64
 15  Policy Start Date     1200000 non-null  object
 16  Customer Feedback     1122176 non-null  object
 17  Smoking Status        1200000 non-null  object
 18  Exercise Frequency    1200000 non-null  object
 19  Property Type         1200000 non-null  object
 20  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(1), object(11)
memory usage: 192.3+ MB

In [5]:
print(df.isnull().sum())

id                           0
Age                      18705
Gender                       0
Annual Income            44949
Marital Status           18529
Number of Dependents    109672
Education Level              0
Occupation              358075
Health Score             74076
Location                     0
Policy Type                  0
Previous Claims         364029
Vehicle Age                  6
Credit Score            137882
Insurance Duration           1
Policy Start Date            0
Customer Feedback        77824
Smoking Status               0
Exercise Frequency           0
Property Type                0
Premium Amount               0
dtype: int64

In [6]:
print(df.duplicated())

0          False
1          False
2          False
3          False
4          False
           ...
1199995    False
1199996    False
1199997    False
1199998    False
1199999    False
Length: 1200000, dtype: bool

In [7]:
missing_summary = df.isnull().sum().sort_values(ascending=False)

missing_percentage = (missing_summary / len(df)) * 100

missing_data = pd.DataFrame({
    'Valeurs manquantes': missing_summary,
    'Pourcentage (%)': missing_percentage
})

print(missing_data[missing_data['Valeurs manquantes'] > 0])

                      Valeurs manquantes  Pourcentage (%)
Previous Claims                   364029        30.335750
Occupation                        358075        29.839583
Credit Score                      137882        11.490167
Number of Dependents              109672         9.139333
Customer Feedback                  77824         6.485333
Health Score                       74076         6.173000
Annual Income                      44949         3.745750
Age                                18705         1.558750
Marital Status                     18529         1.544083
Vehicle Age                            6         0.000500
Insurance Duration                     1         0.000083

In [9]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# One-hot encoding categorical columns using sparse format
ohe = OneHotEncoder(sparse_output=True)

# List of categorical columns
categorical_cols = ['Gender', 'Marital Status', 'Education Level', 'Occupation', 
                    'Location', 'Policy Type', 'Smoking Status', 'Exercise Frequency', 
                    'Property Type', 'Policy Start Date', 'Customer Feedback']

# One-hot encoding directly
encoded_data_sparse = ohe.fit_transform(df[categorical_cols])

# Convert sparse matrix to a DataFrame
encoded_df = pd.DataFrame.sparse.from_spmatrix(
    encoded_data_sparse,
    columns=ohe.get_feature_names_out(categorical_cols)
)

# Concatenate the sparse DataFrame with the original DataFrame
df = pd.concat([df.reset_index(drop=True), encoded_df.reset_index(drop=True)], axis=1)

If the code takes too much time, it might be due to the size of the dataset or the high number of categorical features being processed for one-hot encoding. Here are optimization techniques to reduce execution time
1. Use sparse=True for OneHotEncoder
By default, OneHotEncoder outputs a sparse matrix if (sparse_output=True). You can skip the .toarray() step, which converts it to a dense array and consumes memory.
2. Reduce the Number of Categorical Features
Processing a large number of categorical columns, especially high-cardinality ones, can slow things down. Evaluate and exclude unnecessary columns or preprocess some features differently (e.g., label encoding for ordinal columns).
3. Parallel Processing
One-hot encoding can be parallelized using libraries like joblib or dask. For example, you can process categorical columns in chunks.

In [10]:
imputer = SimpleImputer(strategy='mean')

# Impute missing values
df_imputed = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)

# Verifying results
print(df_imputed.isnull().sum())

NameError: name 'SimpleImputer' is not defined

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Encoder les colonnes catÃ©goriques
categorical_cols = ['Gender', 'Marital Status', 'Education Level', 'Occupation', 
                    'Location', 'Policy Type', 'Smoking Status', 'Exercise Frequency', 'Property Type','Policy Start Date','Customer Feedback']
le = LabelEncoder()
for col in categorical_cols:
    df[col] = le.fit_transform(df[col])

In [ ]:
from sklearn.model_selection import train_test_split

# DÃ©finir les caractÃ©ristiques (X) et la cible (y)
X = df.drop(['Premium Amount'], axis=1)
y = df['Premium Amount']

# Diviser les donnÃ©es
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Identifier les types de donnÃ©es dans le DataFrame
print(df.dtypes)

# Identifier les colonnes contenant des types non numÃ©riques
non_numeric_cols = df.select_dtypes(include=['object', 'datetime']).columns
print("Colonnes non numÃ©riques :", non_numeric_cols)